config USING_RINGBUFFER
     bool "ringbuffer support"
     default y

config USING_COMPLETION
     bool "completion support"
     default n

config USING_DATAQUEUE
     bool "dataqueue support"
     depends on RT_USING_HEAP
     default n

config USING_WORKQUEUE
     bool "workqueue support"
     depends on RT_USING_SEMAPHORE
     default n

