menu "os configuration"
     orsource "os/Kconfig"
endmenu

menu "component configuration"
     orsource "components/Kconfig"
endmenu

menu "cpu configuration"
     orsource "libcpu/Kconfig"
endmenu

menu "bsp configuration"
     orsource "bsp/Kconfig"
endmenu
