config USING_ADC
     bool "adc api support"
     depends on USING_DEVICE
     default n

config USING_PIN
     bool "pin api support"
     depends on USING_DEVICE
     default y

config USING_SERIAL
     bool "serial api support"
     depends on USING_DEVICE
     select USING_RINGBUFFER
     default n

config SERIAL_RX_FIFOSZ
     int "serial rx fifo size"
     depends on USING_SERIAL
     default 64

config SERIAL_TX_FIFOSZ
     int "serial rx fifo size"
     depends on USING_SERIAL
     default SERIAL_RX_FIFOSZ

config SERIAL_USING_DMA_RX
     bool "serial use dma to rx"
     depends on USING_SERIAL
     default n

config SERIAL_DMA_RX_BUFSZ
     int "serial rx dma buffer size, used to be SERIAL_RX_FIFOSZ / 2"
     depends on SERIAL_USING_DMA_RX
     default 32

config SERIAL_USING_DMA_TX
     bool "serial use dma to tx"
     depends on USING_SERIAL
     default n

config SERIAL_DMA_TX_BUFSZ
     int "serial tx dma buffer size, used to be SERIAL_TX_FIFOSZ / 2"
     depends on SERIAL_USING_DMA_TX
     default SERIAL_DMA_RX_BUFSZ

config USING_TIM
     bool "hwtimer api support"
     depends on USING_DEVICE
     default n

config USING_I2C
     bool "i2c api support"
     depends on USING_DEVICE && RT_USING_MUTEX
     default n
     
config USING_SPI
     bool "spi api support"
     depends on USING_DEVICE
     default n

config USING_WDT
     bool "watchdog api support"
     depends on USING_DEVICE
     default n

config USING_FLASH
     bool "flash api support"
     depends on USING_DEVICE
     default n
     
config USING_CRC
     bool "crc api support"
     depends on USING_DEVICE
     default n