mainmenu "bsp configuration"

menuconfig BSP_N32G003
     bool "n32g003 support"

     if BSP_N32G003
     orsource "n32g003/Kconfig"
     endif

config BSP_N32G430
     bool "n32g430 support"

     if BSP_N32G430
     orsource "n32g430/Kconfig"
     endif