menu "bsp n32g003 configuration"
     depends on BSP_N32G003

choice
     prompt "soc"
     default SOC_N32G003F5S7

config SOC_N32G003F5Q7
     bool "use n32g003f5q7 QFN20"

config SOC_N32G003F5S7
     bool "use n32g003f5s7 TSSOP20"

endchoice

config BSP_UART1
     bool "Uart1 Support"
     depends on USE_SERIAL
     default n

choice
    prompt "UART1 TX PIN"
    depends on BSP_UART1
    default N32G003_UART1_TX_PB0
    
config N32G003_UART1_TX_PA2
     bool "Use PA2 as UART1 TX"

config N32G003_UART1_TX_PA14
     bool "Use PA14 as UART1 TX"

config N32G003_UART1_TX_PB0
     bool "Use PB0 as UART1 TX"

endchoice

choice
    prompt "UART1 RX PIN"
    depends on BSP_UART1
    default N32G003_UART1_RX_PB1

config N32G003_UART1_RX_PA3
     bool "Use PA3 as UART1 RX"

config N32G003_UART1_RX_PA12
     bool "Use PA12 as UART1 RX"

config N32G003_UART1_RX_PB1
     bool "Use PB1 as UART1 RX"
endchoice

config BSP_UART2
     bool "Uart2 Support"
     depends on USE_SERIAL
     default n

choice
    prompt "UART1 TX PIN"
    depends on BSP_UART2

config N32G003_UART2_TX_PA2
     bool "Use PA2 as UART2 TX"

config N32G003_UART2_TX_PA8
     bool "Use PA8 as UART2 TX"

config N32G003_UART2_TX_PA9
     bool "Use PA9 as UART2 TX"
endchoice

choice
    prompt "UART1 RX PIN"
    depends on BSP_UART2

config N32G003_UART2_RX_PA1
     bool "Use PA1 as UART2 RX"

config N32G003_UART2_RX_PA7
     bool "Use PA7 as UART2 RX"

config N32G003_UART2_RX_PA9
     bool "Use PA9 as UART2 RX"
endchoice

config BSP_I2C1
     bool "I2C1 Support"
     depends on USE_I2C
     default n

choice
    prompt "I2C SCL PIN"
    depends on BSP_I2C1
    default N32G003_I2C1_SCL_PA4
    
config N32G003_I2C1_SCL_PA2
     bool "Use PA2 as I2C1 SCL"

config N32G003_I2C1_SCL_PA4
     bool "Use PA4 as I2C1 SCL"

config N32G003_I2C1_SCL_PA9
     bool "Use PA9 as I2C1 SCL"

endchoice

choice
    prompt "I2C SDA PIN"
    depends on BSP_I2C1
    default N32G003_I2C1_SDA_PA5
    
config N32G003_I2C1_SDA_PA1
     bool "Use PA1 as I2C1 SCL"

config N32G003_I2C1_SDA_PA3
     bool "Use PA3 as I2C1 SCL"

config N32G003_I2C1_SDA_PA5
     bool "Use PA5 as I2C1 SCL"

config N32G003_I2C1_SDA_PA8
     bool "Use PA8 as I2C1 SCL"

endchoice

endmenu