mainmenu "cpu configuration"

config ARCH_ARM
     bool "arch arm"
     
     if ARCH_ARM
     orsource "arm/Kconfig"
     endif

config ARCH_RISCV
     bool "arch risc-v"

     if ARCH_RISCV
     orsource "risc-v/Kconfig"
     endif
